#date-time{
    font-family: 'Merriweather', serif;
    font-size: 1.5rem;
    margin: 0;
}

.bought{
    color: #e92e15;
}

.sold{
    color: #3fa24f;
}

h3{
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
    font-weight: 600;
    margin: 1rem 0;

}
.transaction-card{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    padding: 1rem 2rem;
    margin: 1rem 0;
    /* border: 2px solid #002349; */
    border-radius: 2em;
    box-shadow: 0.5em 0.5em 0.5em rgb(142, 133, 133, 0.2);
    border-radius: 1rem; 
    width: 40vw;
    background-color: rgba(234, 233, 233, 0.246);
}