.homepage-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    height: auto;
    font-style: normal;
    padding: 1rem 2rem;
}

.homepage-wrapper h1{
    display: flex;
    align-items: center;
    gap: 1rem;
    font-weight: 900;
    font-size: 4em;
    margin: 3rem 0 3rem 0;
    font-family: 'Merriweather', sans-serif;
    font-weight: 900;
    border-bottom: 1rem solid #002349;
}

.homepage-wrapper h2{
    font-size: 1.7em;
    align-self: center;
    font-weight: 700;
    margin: 0;
    font-style: normal;
}

.homepage-wrapper .app-name{
    font-size: 1.2em;
    align-self: center;
    font-weight: 700;
    margin: 0;
    color: #002349;
    font-family: 'Merriweather', sans-serif;
}

#login-register-box p{
    /* ujnderline font */
    /* border-bottom: 2px solid #002349; */
    color: #002349;
    text-decoration: solid underline;
}