.stockCard{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1rem;
    height: auto;
    background-color: rgba(234, 233, 233, 0.246);
    border-radius: 2em;
    box-shadow: 0.5em 0.5em 0.5em rgb(142, 133, 133, 0.2);
    margin: 1rem;
    padding: 2rem 3rem;
    width: 20rem;
}

.stockCard h1{
    font-size: 2.5rem;
    align-self: start;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0 0 1rem 0;
    font-family: 'Merriweather', serif;
    font-style: italic;
}

.stockCard ul{
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
    gap: 0.5rem;
}

.stockCard li{
    font-size: 1.2em;
    font-weight: 500;
}

.buy-button{
    background-color: white;
    border: 3px solid #3fa24f;
    padding: 0.5rem 1.5rem;
    border-radius: 1rem;
    font-size: 1.3em;
    cursor: pointer;
    font-family: 'Inter', serif;
    font-weight: 700;
    color: #3fa24f;
    box-shadow: none;
    text-transform: capitalize;
}

.buy-button:hover{
    background-color: #3fa24f;
    color: white;
}

.sell-button{
    background-color: white;
    border: 3px solid #b63c3c;
    padding: 0.5rem 1.5rem;
    border-radius: 1rem;
    font-size: 1.3em;
    cursor: pointer;
    font-family: 'Inter', serif;
    font-weight: 700;
    color: #b63c3c;
    box-shadow: none;
    text-transform: capitalize;
}

.sell-button:hover{
    background-color: #b63c3c;
    color: white;
}

.label{
    font-family: 'Merriweather', serif;
    font-size: 1.2em;
    font-weight: 700;
    color: '#002349';
}